* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #216ad6;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background-color: #ffffff;
    border: 1px outset #b4b0b0;
    border-radius: 1%;
    padding: .6rem;
    width: 22rem;
}

.display-container {
    display: flex;  
}

.cell {
    border-radius: 3%; 
    border: 1px solid #b4b0b0;
    margin: .4rem; 
    cursor: pointer;
    outline-color:  #858282;
    font-size: 1.5rem;
    padding: .3rem;
}

.cell:hover {
    background-color: #858282;
}

.display {
    margin: .4rem;
    border: 1px solid #b4b0b0;
    border-radius: 1%;
    cursor: text;
    font-size: 2.2rem;
    text-align: right;
    color: #757474;
    padding: .5rem;
    width: 100%;  
}

.display:hover {
    background-color: #fff;
}

.operators {
    display: flex; 
}

.operator {
    flex: 25%; 
    background-color: #cecaca;
}

.number-keys {
    display: flex;
}

.operands-container {
    display: flex;
    flex: 75%;
} 

.operands {
    display: flex; 
    flex-direction: column; 
    flex: 25%;
}

.operand {
    background-color: #f0f0f0;
}

.equals-container {
    display: flex; 
    flex: 25%;
}

.equals {
    flex: 25%;
    background-color: #216ad6;
    color: #fff;
    border: 1px solid #b4b0b0;
    border-radius: 2%;
    outline-color: #031f4b;
}

.equals:hover {
    background-color:#1750a7;
}